#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/*
Key positions:

00 01 02 03 04 05       06 07 08 09 10 11
12 13 14 15 16 17       18 19 20 21 22 23
24 25 26 27 28 29       30 31 32 33 34 35
36 37 38 39 40 41       42 43 44 45 46 47
48 49 50 51 52 53       54 55 56 57 58 59
                  60 61
*/

/ {
    behaviors {
        modsLeft: modsLeft {
            compatible = "zmk,behavior-hold-tap";
            label = "MODSLEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 54 55 56 57 58 59 61>;
            flavor = "balanced";
            require-prior-idle-ms = <125>;
        };

        modsRight: modsRight {
            compatible = "zmk,behavior-hold-tap";
            label = "MODSRIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 48 49 50 51 52 53 60>;
            flavor = "balanced";
            require-prior-idle-ms = <125>;
        };

        mo_kp: mo_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_KP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <225>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            flavor = "balanced";
        };
    };

    combos {
        compatible = "zmk,combos";

        to_fw {
            bindings = <&to 2>;
            key-positions = <11 48 59 0>;
            timeout-ms = <200>;
        };

        to_base {
            bindings = <&to 0>;
            key-positions = <5 6 54 53>;
        };

        r_enter {
            bindings = <&kp ENTER>;
            key-positions = <43 44>;
            timeout-ms = <100>;
            require-prior-idle-ms = <25>;
        };

        r_backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <19 20>;
            timeout-ms = <50>;
            require-prior-idle-ms = <75>;
        };

        r_delete {
            bindings = <&kp DEL>;
            key-positions = <20 21>;
            timeout-ms = <50>;
            require-prior-idle-ms = <75>;
        };

        r_tab {
            bindings = <&kp TAB>;
            key-positions = <19 18>;
            timeout-ms = <50>;
            require-prior-idle-ms = <75>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp ESC     &kp N1        &kp N2        &kp N3    &kp N4    &kp N5     &kp N6          &kp N7     &kp N8      &kp N9             &kp N0         &kp BACKSPACE
&kp TAB     &kp Q         &kp W         &kp F     &kp P     &kp B      &kp J           &kp L      &kp U       &kp Y              &kp LBKT       &kp DEL
&kp LSHIFT  &kp A         &kp R         &kp S     &kp T     &kp G      &kp M           &kp N      &kp E       &kp SEMI           &kp SQT        &kp RSHIFT
&kp LCTRL   &kp Z         &kp X         &kp C     &kp D     &kp V      &kp K           &kp H      &kp O       &kp I              &kp BACKSLASH  &kp RCTRL
&kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &kp RALT  &kp LALT  &kp LGUI   &kp SLASH       &kp COMMA  &kp PERIOD  &kp RIGHT_BRACKET  &kp DOWN       &kp PRINTSCREEN
                                                            &kp MINUS  &mo_kp 1 SPACE
            >;
        };

        func {
            bindings = <
&trans  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5  &kp F6  &kp F7    &kp F8     &kp F9     &kp F10    &trans
&trans  &kp F11  &kp F12  &trans  &trans  &trans  &trans  &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &trans
&trans  &trans   &trans   &trans  &trans  &trans  &trans  &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans
&trans  &trans   &trans   &trans  &trans  &trans  &trans  &trans    &trans     &trans     &kp EQUAL  &trans
&trans  &trans   &trans   &trans  &trans  &trans  &trans  &trans    &trans     &trans     &trans     &trans
                                          &trans  &trans
            >;
        };

        fw {
            bindings = <
&bt BT_CLR_ALL  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &kp PERIOD  &kp DOT  &kp DOT  &kp DOT  &kp DOT  &kp DOT  &kp DOT
&kp DOT         &kp DOT       &kp DOT       &kp DOT       &kp DOT       &kp DOT     &kp DOT  &kp DOT  &kp DOT  &kp DOT  &kp DOT  &kp DOT
&kp DOT         &kp DOT       &kp DOT       &kp DOT       &kp DOT       &kp DOT     &kp DOT  &kp DOT  &kp DOT  &kp DOT  &kp DOT  &kp DOT
&kp DOT         &kp DOT       &kp DOT       &kp DOT       &kp DOT       &kp DOT     &kp DOT  &kp DOT  &kp DOT  &kp DOT  &kp DOT  &kp DOT
&kp DOT         &kp DOT       &kp DOT       &kp DOT       &kp DOT       &kp DOT     &kp DOT  &kp DOT  &kp DOT  &kp DOT  &kp DOT  &bootloader
                                                                        &kp DOT     &kp DOT
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
